* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #e6e6e6;
}

.main, header, footer {
    margin: 20px auto;
    width: 80%;
}

.main {
    clear: both;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
    background: #66b3ff;
}

header nav ul li a {
    display: block;
    padding: 10px 20px;
}

